<div class="index container">
  <!--  category filter  -->
  <div class="sortButton d-flex justify-content-center align-items-baseline">
    <form action="/records/filter" method="GET">
      <select class="filter-form" name="filter">
        <option value="all">總花費</option>
        <option value="familyexpense" {{#if (eq filter 'familyexpense' )}} selected {{/if}}>家居物業</option>
        <option value="transportation" {{#if (eq filter 'transportation' )}} selected {{/if}}>交通出行</option>
        <option value="entertainment" {{#if (eq filter 'entertainment' )}} selected {{/if}}>休閒娛樂</option>
        <option value="food" {{#if (eq filter 'food' )}} selected {{/if}}>餐飲食品</option>
        <option value="other" {{#if (eq filter 'other' )}} selected {{/if}}>其他</option>
      </select>
      <button type="submit" class="btn btn-primary m-1">查詢</button>
    </form>
  </div>
  <!--  total amount -->
  <div class="totalAmount d-flex justify-content-start">
    <h5>總金額:</h5>
    <p class="totalNum">{{totalAmount}}</p>
  </div>
  <!--  record  -->
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="list-content d-flex justify-content-between align-items-center">
        <div><i class="list-icon {{this.categoryIcon}}"></i></div>
        <div class="list-info d-flex justify-content-between align-items-center">

          <div>
            <p class="list-item m-0">{{this.name}}</p>
            <p class="list-date m-0">{{this.date}}</p>
          </div>
          <div class="list-money">{{this.amount}}</div>
        </div>
        <div class="list-botton d-flex justify-content-around">
          <a href="/records/{{ this._id}}/edit">
            <button type="button" class="btn btn-secondary m-1">編輯</button>
          </a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-secondary m-1">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <!--  new  -->
  <a class="add-new-expense btn btn-warning" href="/records/new">
    新增支出
  </a>