<div class="container">
  <div class="dropdown">
    <button class="sortButton btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-expanded="false">
      類別
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">日期</a></li>
      <li><a class="dropdown-item" href="#">分類</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <div class="totalAmount d-flex justify-content-start">
    <h5>總金額:</h5>
    <p class="totalNum">{{totalAmount}}</p>
  </div>

  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="list-content d-flex justify-content-between align-items-center">
        <div><i class="list-icon {{this.categoryIcon}}"></i></div>
        <div class="list-info d-flex justify-content-between align-items-center">

          <div>
            <p class="list-item m-0">{{this.name}}</p>
            <p class="list-date m-0">{{this.date}}</p>
          </div>
          <div class="list-money">{{this.amount}}</div>
        </div>
        <div class="list-botton d-flex justify-content-around">
          <a href="./records/{{ this._id}}/edit">
            <button type="button" class="btn btn-secondary m-1">編輯</button>
          </a>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-secondary m-1">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

  <a class="add-new-expense btn btn-warning" href="./records/new">
    新增支出
  </a>